/.bundle/
/.rspec
/.ruby-version
/coverage/
/db/*.sqlite3
/db/schema.rb
/lib/tasks/
/log/
/tmp/
/vendor/bundle

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore all logfiles and tempfiles
/node_modules
/log/*.log
/tmp
.env

/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore bundler config.
/.bundle
