rottenpotatoes/.bundle/
rottenpotatoes/.rspec
rottenpotatoes/.ruby-version
rottenpotatoes/coverage/
rottenpotatoes/db/*.sqlite3
rottenpotatoes/db/schema.rb
rottenpotatoes/lib/tasks/
rottenpotatoes/log/
rottenpotatoes/tmp/
rottenpotatoes/vendor/bundle

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore all logfiles and tempfiles
/node_modules
/log/*.log
/tmp
.env

/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore bundler config.
/.bundle
