<!--  This file is app/views/movies/index.html.erb -->
<h2>Welcome to food trucker</h2>

Food Carts:
<ul>
<% @carts.each do |cart| %>
  <li> <a href="/carts/cart/<%=cart.id%>"><%=cart.name %></a></li>
<% end %>
</ul>
